:root {
    /*color palate from: https://www.materialpalette.com/indigo/pink*/
    --dark-primary-color: #303F9F;
    --primary-color: #3F51B5;
    --light-primary-color: #C5CAE9;
    --text-icon-color:#FFFFFF;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --divider-color: #BDBDBD;
    --accent-color: #FF4081;
  }
  
  .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 0 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
      color: #333;
  }
  
  .container p {
      line-height: 1.6;
      color: #666;
  }
  
  .container img {
      display: block;
      margin: 20px auto;
      max-width: 100%;
      border-radius: 10px;
  }
  
  .container p b {
      color: #007bff;
  }
  
  body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-text-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  a:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
  
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
  .table-heading {
    background-color: var(--primary-color);
    color: var(--text-icon-color);
  }
  hr.hr-style {
    margin-top: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 64, 129), rgba(0, 0, 0, 0));
  }
  hr.hr-style-two {
      margin-top: 0;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid var(--divider-color);
  }
  
  .cover-image {
    width: 100vw;
    height: 100vh;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.yficLXmcyIyr-rZXz5JL_QHaE8%26pid%3DApi&f=1&ipt=416d5d7de25d2e81d508d4e8917041bb817bb62a098f4869efb9c8f4c679803a&ipo=images) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .cover-image-2 {
    width: 100vw;
    height: 100vh;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xCnbMK-7EI3C_GlEp0vsNwHaEK%26pid%3DApi&f=1&ipt=d9a9d82cda94c1625296c5837ac34406f43cd393bdbe16fba9993eb6598ce189&ipo=images) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .cover-page {
    width: 100vw;
    height: 100vh;
    background-color: #3e456b;
    opacity: 0.8;
  }
  
  .hero {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-family: 'Reenie Beanie', cursive;
  }
  .hero-title {
    font-size: 60px;
    color: var(--text-icon-color);
  }
  .hero-text {
    color: var(--text-icon-color);
  }
  
  .chevron {
    margin-top: 20px;
    font-size: 32px;
    color: var(--accent-color);
  }
  
  /*Animating Chevron icon at home page: https://codepen.io/dodozhang21/pen/siKtp */
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  .hero-scroll {
    position: absolute;
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  /*Chevron icon animation's styling ends here*/
  .dhoni-intro {
    margin-bottom: 1em;
  }
  
  .dhoni-title-image {
    margin-top: 0.2em;
  }
  
  .dhoni-timeline {
    text-align: justify;
  }
  
  .dhoni-timeline ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
  
  .dhoni-timeline #title-desktop {
    display: none;
  }
  
  .dhoni-timeline #dhoni-wiki-imdb-link p {
    margin-bottom: 20px;
  }
  
  .dhoni-appreciation {
    text-align: justify;
    margin-top: 10px;
  }
  
  .dhoni-surprise-video #button-1,
  .dhoni-surprise-video #button-2 {
    margin-bottom: 0.5em;
  }
  
  .dhoni-social-media #card-link-for-mobile a {
    color: var(--primary-text-color);
  }
  
  .dhoni-social-media #card-link-for-mobile a:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
  
  .dhoni-social-media #card-one,
  .dhoni-social-media #card-two {
    display: none;
  }
  
  /*.dhoni-main {
  }
  
  .dhoni-intro {
    margin-bottom: 1em;
  }
  
  .dhoni-intro{
  }
  .dhoni-title-image {
    margin-top: 0.2em;
  }
  .dhoni-breif-introduction-1 {
  }
  
  .dhoni-breif-introduction-2 {
  }
  
  .dhoni-timeline {
    text-align: justify;
  }
  
  .dhoni-timeline ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
  
  .dhoni-timeline #title-mobile {
  }
  .dhoni-timeline #title-desktop {
    display: none;
  }
  .dhoni-timeline #dhoni-wiki-imdb-link p{
    margin-bottom: 20px;
  }
  .dhoni-appreciation {
    text-align: justify;
    margin-top: 10px;
  }
  
  .dhoni-surprise-video {
  
  }
  .dhoni-surprise-video #button-1 {
    margin-bottom: 0.5em;
  }
  .dhoni-surprise-video #button-2 {
    margin-bottom: 0.5em;
  }
  
  .dhoni-social-media {
  }
  
  .dhoni-social-media #card-main {
  }
  .dhoni-social-media #card-link-for-mobile a {
    color: var(--primary-text-color);
  }
  .dhoni-social-media #card-link-for-mobile a:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
  .dhoni-social-media #card-link-for-mobile h3{
  }
  .dhoni-social-media #card-one {
    display: none;
  }
  .dhoni-social-media #card-two {
    display: none;
  }
  */
  /*Overiding Bootstrap's modal-header class to match out page accent */
  .modal-header {
    border-bottom: 1px solid var(--accent-color);
  }
  .modal-footer {
    border-top: 1px solid var(--accent-color);
  }
  
  hr.hr-style-footer {
      margin-bottom: 10px;
      margin-top: 1em;
      border: 0;
      height: 0;
      border-bottom: 1px solid var(--divider-color);
    }
  
  /* All media queries begin here */
  
  @media screen and (min-width: 400px) {
    .cover-image {
      background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.yficLXmcyIyr-rZXz5JL_QHaE8%26pid%3DApi&f=1&ipt=416d5d7de25d2e81d508d4e8917041bb817bb62a098f4869efb9c8f4c679803a&ipo=images) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .dhoni-social-media #card-one {
      display: inherit;
    }
    .dhoni-social-media #card-two {
      display: inherit;
    }
    .dhoni-social-media #card-link-for-mobile {
      display: none;
  }
  }
  
  @media screen and (min-width: 520px) {
    body {
      font-size: 18px;
    }
    /*Keep table contents font size 16px */
    table {
      font-size: 16px
    }
  }
  
  @media screen and (min-width: 768px) {
    .dhoni-title-image {
      margin-top: 20px;
    }
    .dhoni-timeline #title-mobile {
      display: none;
    }
    .dhoni-timeline #title-desktop {
      display: inherit;
    }
  }
  
  
  @media screen and (min-width: 992px) {
    .hero-title {
      font-size: 100px;
    }
    .hero-text {
      font-size: 50px;
    }
    .cover-image-2 {
      background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.yficLXmcyIyr-rZXz5JL_QHaE8%26pid%3DApi&f=1&ipt=416d5d7de25d2e81d508d4e8917041bb817bb62a098f4869efb9c8f4c679803a&ipo=images) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    table {
      table-layout: auto;
      word-wrap: normal;
    }
  }
  
  /*There is this problem I was facing with AOS library, that when mobile device
  is in landscape, .hero-text and hero-scoll was creating hell lot of problem, since
  i dont wanna mess with JS so I decided to go this way*/
  @media screen and (max-height: 410px) {
    .hero {
      top: 25%;
    }
    .hero-scroll {
      bottom: 10px;
    }
  }
  
  @media screen and (max-height: 410px) {
    .hero-text {
      display: none;
    }
  }
  
  @media screen and (min-height: 411px) and (max-height: 480px) {
    .hero-scroll {
      bottom: 30px;
    }
  }
  /* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scroll thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb on hover */
  }
  
